* {
  font-size: 12px;
  margin: 0;
  font-family: 'Raleway', sans-serif; }

/* GRID STYLING */
.container {
  display: flex;
  flex-flow: column wrap; }

.row {
  display: flex;
  flex-flow: row wrap; }

.col {
  display: flex;
  flex-flow: column nowrap; }

/* NAVIGATION MENU */
#side-nav-bar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 72px;
  background-color: #586FCA; }

.side-nav-bar-positioning-wrapper {
  position: relative;
  width: 100%;
  height: 100vh; }

.side-nav-bar-list {
  width: 72px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
  padding: 0;
  margin: 0;
  list-style: none; }

.side-nav-bar-list li {
  margin: 12px 0; }

.side-nav-bar-list li img {
  padding: 8px;
  display: block;
  margin: 0 auto;
  cursor: pointer; }

#settings-btn {
  background: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 12px;
  border: none;
  padding: 0;
  outline: none; }

#settings-btn img {
  padding: 8px;
  margin: 0;
  margin-bottom: 8px;
  cursor: pointer; }

#burger-btn {
  display: block;
  width: 48px;
  padding: 0 8px;
  margin: 12px;
  border: none;
  background: transparent; }

.burger-line {
  border-radius: 2px;
  background-color: #fff;
  display: block;
  width: 32px;
  height: 4px;
  margin: 8px 0; }

#top-nav-bar {
  width: calc(100vw - 72px);
  position: fixed;
  top: 0;
  right: 0;
  height: 72px;
  background-color: #11013B; }

.top-nav-bar-positioning-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center; }

#logo {
  padding: 8px;
  margin: 8px;
  margin-left: 24px; }

#user-profile-nav {
  margin-right: 24px;
  color: #fff;
  display: flex;
  align-items: center; }

#user-profile-nav span {
  font-size: 16px;
  font-weight: 700; }

#user-profile-nav img {
  border-radius: 50%;
  margin-left: 12px; }
