// variables

// main colors
$side-nav: #586FCA;
$top-nav: #11013B;
$darkblue: #11013B;
$bg-color: #F7F8F9;
$primary-bg-color: #586FCA;

// font colors
$primary-font-color: #11013B;

// error color
$error-red: #E63630;

// secondary colors
$inactive-tab-bg: #E5E9EC;
$active-tab-bg: #67406C;

//border & shadow colors
$border-color: #C7CFD4;
$shadow-color: #C7CFD4;

// card colors
$card-color: #fff;
$card-color-secondary: #E5E9EC;

// input field colors
$input-field-color: #E5E9EC;
$progress-bar-bg: #C7CFD4;

