@import 'variables';

// Common styles - test
* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway',
    sans-serif;
    box-sizing: border-box;
    color: $primary-font-color;
}
body{
    background-color: $bg-color;
}
/* GRID STYLING */

.container{
    
    margin-left: 72px;
    margin-top: 72px;
    padding: 36px;
    display: flex;
    flex-flow: column wrap;
}
.container-simple{
    box-sizing: border-box;
    padding: 36px;
    display: flex;
    flex-flow: column wrap;
}
.row{
    padding-bottom: 12px;
    display: flex;
    flex-flow: row wrap;
}
.col{
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
}
.justify-start{
    justify-content: flex-start;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: flex-end;
}
.justify-space-between {
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.align-items-start{
    align-items: flex-start;
}
.align-items-stretch{
    align-items: stretch;
}
.align-content-space-between{
    align-self: space-between;
}
.effect{
    align-items: stretch;
}


/* NAVIGATION MENU */
.side-nav-bar,
.side-nav-bar-opened {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: $primary-bg-color;
}

.side-nav-bar {
    width: 70px; 
}

.side-nav-bar-opened {
    width: 240px; 
}

.side-nav-bar-positioning-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: space-between;

    .side-nav-bar-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        list-style: none;
        padding-left: 12px;
    
        li {

            a {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: right;
            }
    
            img {
                padding: 8px;
                display: block;
                cursor: pointer;
            }

            span {
                color: $card-color;
                font-weight: bold;
                text-decoration: none;
                margin-left: 10px;
                border: none;
                outline: none;
                font-size: 16px;
            }
        }
    }
}

#settings-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin: 12px;
    border: none;
    padding: 0;
    outline: none;
    background: transparent;

    img {
        padding: 8px;
        margin: 0;
        cursor: pointer;
    }

    span {
        color: $card-color;
        font-weight: bold;
        text-decoration: none;
        margin-left: 10px;
        border: none;
        outline: none;
        font-size: 16px;
    }
}

.burger-btn{
    display: block;
    width: 48px;
    padding: 0 8px;
    margin: 12px;
    border: none;
    background: transparent;
    cursor: pointer;
    
    img {
        color: $card-color;
    }
}
.burger-line{
    border-radius: 2px;
    background-color: $card-color;
    display: block;
    width: 32px;
    height: 4px;
    margin: 8px 0;
}

#top-nav-bar{
    width: calc(100vw - 72px);
    position: fixed;
    top: 0;
    right: 0;
    height: 72px;
    background-color: $top-nav;
}
.top-nav-bar-positioning-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
#logo{
    padding: 8px;
    margin: 8px;
    margin-left: 24px;
}
#user-profile-nav{
    margin-right: 24px;
    color: $card-color;
    display: flex;
    align-items: center;

    span{
        font-size: 16px;
        font-weight: 700;
        color:$card-color;
    }

    img{
        border-radius: 50%;
        margin-left: 12px;
    }
}


/* Login pages */

.middle-floating-card{
    display: block;
    margin: 120px auto;
    max-width: 480px;
    background-color: $card-color;
    border-radius: 10px;
    width: 100%;
}
.relative-inner-wrapper{
    padding: 24px;
    padding-top: 72px;
}
.half-out-logo{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    overflow: hidden;
    height: 84px;
    width: 84px;
}
.form-wrapper{
    padding: 36px 0;
}
.input-container{
    margin-bottom: 10px;
}
.text-input-field{
    margin-bottom: 6px;
    margin-top: 5px;
    width: 100%;
    border: none;
    background-color: $input-field-color;
    padding: 16px;
    border-radius: 8px;
    outline: none;
    &:focus{
        border: 1.5px solid #586fca;
    }
}
.full-width-btn{
    padding: 16px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 8px;
    font-weight: 700;
    color: $card-color;
    cursor: pointer;
}

/* Error messages */
.error-border{
    border: 1.5px solid $error-red;
}
.error-text{
    color: $error-red;
}
label{
    font-weight: bold;
    font-size: 14px;
}


/* Utilities */

.relative-inner-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}
.screen-size{
    background-color: $bg-color;
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
}
.center-text{
    text-align: center;
}
.primary-bg-color{
    background-color: #586FCA;
}
.card-secondary{
    background-color: $card-color-secondary !important;
}
.box-shadow{
    box-shadow: 1px 1px 4px $shadow-color; 
}
.card {
    border-radius: 8px;
    padding: 24px;
    background-color: $card-color;
}
.bottom-border{
    border-bottom: 1px solid $border-color;
    margin-bottom: 24px;
}
.width-100{
    width: 100%;
}
.heigh-100 {
    height: 100%;
}
.user-icon{
    width: 32px;
    height: 32px;
    border-radius: 100%;
    overflow: hidden;
}
.top-margin-m {
    margin-top: 24px;
}
.bottom-margin-s{
    margin-bottom: 12px;
}
.highlighted-link{
    color: $primary-bg-color;
    text-decoration-style: underline;
    cursor: pointer;
}
.remote-list-style{
    list-style: none;
}
.remote-list-style li{
    padding: 2px 0;
    margin-bottom: 2px;
}
.position-relative{
    position: relative;
}
.progress-bar-wrapper{
    height: 6px;
    border-radius: 6px;
    width: 100%;
    max-width: 300px;
    background-color: $progress-bar-bg;
    overflow: hidden;
}
.progress-bar{
    width: 50%;
    height: 100%;
    background-color: $primary-bg-color;
}
.progress-btn{
    padding: 6px 12px;
    border: 1px solid $card-color;
    
    outline: 1px solid $bg-color;
    background-color: $primary-bg-color;
}
.button-wrapper{
    display: block;
    border-radius: 6px;
    overflow: hidden;
    width: auto;
}
.height-50 {
    height: 50%;
}
.font-12{
    font-size: 12px;
    padding: 4px 0;
}
.no-wrap{
    flex-wrap: nowrap !important;
}
/* Profile */

.col-fixed-300 {
    width: 300px;
    flex: none;
}
.col-fixed-372{
    width: 372px;
    flex: none;
}
.col-fixed-468 {
    width: 468px;
    flex: none;
}

.gutter-middle{
    margin: 0 24px;
}
.gutter-right{
    margin-right: 24px;
}
.gutter-bottom{
    margin-bottom: 24px;
}
.gutter-s-left{
    margin-left: 6px;
}
.gutter-s-right{
    margin-right: 6px;
}
.edit-btn{
    padding: 8px 16px;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 10px;
    border-radius: 4px;
    cursor: pointer;
}
.tab-wrapper{
    border-radius: 4px;
    overflow: hidden;
}
.tab-btn{
    padding: 8px 16px;
    border: none;
    outline: none;
    cursor: pointer;
}
.tab-active{
    color: $card-color; 
    background-color: $active-tab-bg;
}
.tab-inactive{
    color: #000;
    background-color: $inactive-tab-bg ;
}


/* Pill */
.pill{
    border-radius: 50px;
    background-color: grey;
    padding: 4px 24px;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    color: $card-color;
    max-width: 210px;
}


/* User Card */

.user-profile-pic{
    border-radius: 100%;
    overflow: hidden;
}
.user-profile-col-fixed{
    flex: none;
    width: 84px;
}


/* Comment Section */

.comment-icon-col{
    flex: none;
    width: 60px !important;
    padding: 0 12px;
}
.comment-input-field-wrapper{
    display: flex;
    border-radius: 50px;
    background-color: $card-color;
}
.comment-input-field-wrapper img{
    padding: 8px 16px;
}
.comment-input-field{
    border: none;
    outline: none;
    padding: 8px 16px;
    background: transparent; 
}


/* Feed Item */
.feed-item{
    padding: 24px 12px;
    margin-bottom: 6px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
}
.feed-item:hover{
    background-color: $card-color-secondary;
}

/* Search Field */

.search-field-wrapper{
    display: flex;
    flex-flow: row nowrap;
    border-radius: 50px;
    background: $input-field-color;
    width: 100%;
}
.search-field-wrapper img {
    padding: 4px 8px 4px 16px;
}
.search-field{
    width: calc(100% - 48px);
    background: transparent;
    border: none;
    outline: none;
}

/* Pill Tab */
.pill-tab{
    border-radius: 4px;
    padding: 6px 0;
    background-color: $primary-bg-color;
    width: 100%;
    color: $card-color;
    max-width: 210px;
    margin-bottom: 6px;
}
.pill-tab h4{
    font-weight: 400 !important;
}
.pill-top-offset{
    padding-top: 37px;
}
.pill-tab-horizontal .pill-tab{
    margin-bottom: 0 !important;
    margin-right: 12px;
}

/* Register */

.position-middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.col-number-fixed{
    flex: none;
    width: auto;
    max-width: 84px;
    font-size: 25px;
}
.register-input-field{
    outline: none;
    border: none;
    background: transparent;
    max-width: 480px;
    width: 480px;
    font-size: 25px;
    border-bottom: 3px solid $primary-bg-color;
}
.register-label{
    font-weight: bold;
    font-size: 25px;
}
.field-selector-list{
    width: 100%;
}
.field-selector-list li{
    background-color: $card-color;
    padding: 12px;
    width: 100%;
    margin-bottom: 6px;
    border-radius: 4px;
}