// Common variables
$side-nav: #586FCA;
$top-nav: #11013B;
$bg-color: #F7F8F9;
$card-color: #fff;
$card-color-secondary: #E5E9EC;
$input-field-color: #E5E9EC;
$primary-bg-color: #586FCA;
$shadow-color: #C7CFD4;
$inactive-tab-bg: #E5E9EC;
$active-tab-bg: #67406C;
$border-color: #C7CFD4;


